/*
* ----------------------------------------------------------------------------------------
* 01.Header CSS STYLE
* ----------------------------------------------------------------------------------------
*/

/* main navBar */
header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}

.nav-logo img {
    width: 80px;
}

.navbar a {
    font-weight: 600;
    color: #FFF;
    position: relative;
    overflow: hidden;
}

.navbar a.p-0::before {
    position: absolute;
    content: "";
    bottom: 0px;
    left: -100%;
    height: 3px;
    width: 100%;
    background: #FFF !important;
    transition: all 0.3s ease;
}

.navbar a.p-0.active::before,
.navbar a.p-0:hover::before {
    left: 0%;
}

.navbar a.p-0:active,
.navbar a.p-0:focus,
.navbar a.p-0.active,
.navbar a.p-0:hover {
    color: #FFF !important;
}

.navbar button {
    display: none;
    padding: 7px 10px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    color: #FFF;
}

/* Side Navbar */
aside .nav-logo {
    padding-bottom: 12px;
}

aside .navbar-brand img {
    width: 70px;
}

aside #sideNav {
    width: 280px;
    height: 100vh;
    left: -355px;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 12px 20px 12px 10px;
    z-index: 9999;
    background-color: #124049;
}

aside .nav-logo button {
    padding: 5px 8px;
    background-color: transparent;
    color: #FFF;
    border: none;
    border-radius: 10px;
}

aside a {
    color: #FFF;
    border: none;
    font-weight: 600;
    transition: all 0.3s ease;
}

aside a.active,
aside a:hover {
    color: #1141BE !important;
}

aside li {
    padding: 12px 0px 12px 10px;
}

@media (max-width: 991px) {
    .navbar .container-fluid .navbar-collapse {
        display: none !important;
    }

    .navbar .container-fluid button {
        display: block;
    }

    #sideNav button,
    #sideNav a {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .nav-logo img {
        width: 70px;
    }

    .navbar .hover1 {
        display: none;
    }

    #sideNav button,
    #sideNav a {
        font-size: 16px;
    }
}

/*
* ----------------------------------------------------------------------------------------
* 02.Hero CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.Hero {
    background-color: #252525;
    padding: 120px 0px 100px;
    background-image: url('/hero_bg.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.Hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #12404933 80%, #FFF 100%);
}

.Hero p,
.Hero h3,
.Hero h4,
.Hero h5 {
    color: #FFF;
}

.Hero h5 span {
    display: block;
    line-height: 60px;
    font-family: var(--font-amsterdam);
    color: #FFD350;
}

.Hero .hover1 {
    color: #FFF !important;
    padding: 10px 30px;
    background: #DCDCDC73;
}

.Hero .hover1:hover {
    background: #124049;
}

.Hero .hero_card {
    padding: 24px;
    background: #DCDCDC73;
    border-radius: 20px;
}

.Hero .hero_card .position-absolute {
    width: 50px;
    height: 50px;
    right: 0px;
    top: 0px;
    transform: translateY(-50%);
    background: #124049;
    color: #FFF;
    border-radius: 50%;
    padding: 10px 8px;
}

.Hero .hero_card svg {
    width: 100%;
    height: 100%;
}

.Hero img {
    border-radius: 10px;
}

.Hero .flex-sm-row>* {
    width: 70%;
    margin: auto;
}

.Hero .app_demo {
    width: 100%;
    max-width: 300px;
}

@media (max-width: 991px) {
    .Hero {
        padding-bottom: 70px;
    }
}

@media (max-width: 767px) {
    .Hero {
        padding-bottom: 50px;
    }
}

@media (min-width: 576px) {
    .Hero .flex-sm-row>* {
        width: 50%;
    }
}

/*
* ----------------------------------------------------------------------------------------
* 03.Join_Us CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.Join_Us {
    padding: 50px 0px 70px;
    position: relative;
}

.Join_Us h3 {
    color: #124049;
    font-weight: 900;
}

.Join_Us p {
    color: #124049;
    max-width: 830px;
}

.Join_Us img {
    position: absolute;
    width: 200px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 1199px) {
    .Join_Us p {
        max-width: 630px;
    }

    .Join_Us img {
        width: 150px;
    }
}

@media screen and (max-width: 991px) {
    .Join_Us img {
        top: 0;
        transform: translateY(-30%);
    }
}

@media screen and (max-width: 767px) {
    .Join_Us {
        padding: 0px 0px 50px;
    }
}

/*
* ----------------------------------------------------------------------------------------
* 04.Welcome CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.Welcome {
    background-color: #252525;
    background-image: url('/bg_leaves.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #FFF;
    position: relative;
}

.Welcome::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.Welcome h3 {
    font-weight: 900;
}

.Welcome .d-flex {
    padding: 100px 0px;
}

.Welcome figure {
    padding-left: 50px;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

.Welcome img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

@media screen and (max-width: 991px) {
    .Welcome .d-flex {
        padding: 70px 0px;
    }

    .Welcome figure {
        padding-left: 20px;
    }
}

@media screen and (max-width: 767px) {
    .Welcome .d-flex {
        padding: 50px 0px;
    }

    .Welcome .position-absolute {
        position: relative !important;
    }

    .Welcome figure {
        padding-left: 0px;
        width: 100%;
    }
}

/*
* ----------------------------------------------------------------------------------------
* 05.Features CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.Features {
    padding: 70px 0px;
}

.Features h1,
.Features h5 {
    color: #124049;
    font-weight: 900;
}

.Features p {
    color: #124049;
    max-width: 830px;
}

.Features img {
    max-width: 300px;
}

.Features .position-sticky {
    top: 12px;
}

@media screen and (max-width: 1199px) {
    .Features p {
        max-width: 630px;
    }
}

@media screen and (max-width: 767px) {
    .Features {
        padding: 50px 0px;
    }

    .Features p {
        max-width: 100%;
    }
}

/*
* ----------------------------------------------------------------------------------------
* 06.CTA CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.CTA img {
    min-height: 300px;
    object-fit: cover;
    object-position: center center;
}

/*
* ----------------------------------------------------------------------------------------
* 07.Testimonial CSS STYLE
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 08.Partnership CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.Partnership {
    padding: 70px 0px;
}

.Partnership h1,
.Partnership p {
    color: #124049;
}

@media screen and (max-width: 991px) {
    .Partnership {
        padding: 50px 0px 70px;
    }
}

@media screen and (max-width: 767px) {
    .Partnership {
        padding: 50px 0px;
    }
}

/*
* ----------------------------------------------------------------------------------------
* 09.Slogan CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.Slogan {
    padding: 70px 0px;
    background-color: #252525;
    background-image: url('/bg_leaves.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #FFF;
    position: relative;
}

.Slogan::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.Slogan h5{
    color: #FFF;
}

.Slogan h2 {
    font-family: var(--font-amsterdam);
    color: #FFD350;
    line-height: 85px;
}

.Slogan img{
    width: 100px;
}

/*
* ----------------------------------------------------------------------------------------
* 10.Footer CSS STYLE
* ----------------------------------------------------------------------------------------
*/

footer{
    background: #124049;
    color: #FFF;
}

footer img{
    width: 100px;
}

footer h4{
    color: #FFF;
}

footer h6 {
    font-family: var(--font-amsterdam);
    line-height: 50px;
}

footer a{
    color: #FFF;
    transition: all 0.3s ease;
    font-weight: 700;
}

footer a:hover{
    color: #0f987a;
}